<div class="m-5">
  <h2 class="text-center text-info">Todos os Nossos Roteiros</h2>
  <hr>
  <div>
    <div class="container text-center">
      <div class="row hidden md-up">
        <div class="col-md-3 mt-3">
          <div class="card bg-info">
            <img class="card-img-top" src="../../assets/magic-kingdom-castelo.jpg" alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-title">Magic Kingdom</h5>
              <a [routerLink]="['/roteiro-magic-kingdom']" class="btn btn-primary">Ver Roteiro</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-3">
          <div class="card bg-danger">
            <img class="card-img-top" src="../../assets/animal-kingdom-arvore.jpg" alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-title">Animal Kingdom</h5>
              <a [routerLink]="['/roteiro-animal-kingdom']" class="btn btn-primary">Ver Roteiro</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-3">
          <div class="card bg-success">
            <img class="card-img-top" src="../../assets/epcot-paisagem.jpg" alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-title">Epcot</h5>
              <a [routerLink]="['/roteiro-epcot']" class="btn btn-primary">Ver Roteiro</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-3">
          <div class="card bg-info">
            <img class="card-img-top" src="../../assets/hollywood-studios.jpg" alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-title">Hollywood Studios</h5>
              <a [routerLink]="['/roteiro-hollywood-studios']" class="btn btn-primary">Ver Roteiro</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>