<div class="modal-header">
  <h5 class="modal-title" id="horarioParqueLabel">Horário dos Parques</h5>
  <button type="button" class="close" (click)="ocultar()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ul class="list-group">
    <li class="list-group-item">Magic Kingdom - 8h às 22h</li>
    <li class="list-group-item">Hollywood Studios - 9h às 20h</li>
    <li class="list-group-item">Animal Kingdom - 8h às 18h</li>
    <li class="list-group-item">Epcot - 9h às 21h</li>
    <li class="list-group-item">Universal Studios - 9h às 18h</li>
    <li class="list-group-item">Island Adventure - 9h às 20h</li>
    <li class="list-group-item">Sea World - 8h às 20h</li>
  </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="ocultar()">Fechar</button>
</div>