<div class="mt-5 text-center text-danger">
  <h1 class="post-title">Roteiro do Hollywood Studios</h1>
  <div class="post-date">24/10/2018</div>
</div>

<div class="m-5">
  <img class="img-fluid" src="../../assets/roteiro/hs-roteiro.jpg" />
</div>
<div class="m-5 text-justify">
  <p>O <em>terceiro dos quarto parques temáticos</em> do <em>Walt Disney World</em>, que foi
    construído em <em>01 de Maio de 1989</em> e era chamado de <a href="#"><em>Disney-MGM
        Studios</em></a> (o nome que foi substituído pelo atual em <em>2008</em>). A área usada para o
    <em>parque</em> é de <em>135 acres</em> e ele é inspirado no auge de <em>Hollywood</em>
    dos <em>anos 1930 e 1940</em>.</p>
  <p>Atualmente, o <em>parque</em> é representado representado pela <em>Torre do Terror</em>, uma
    vez que o <em>antigo símbolo do parque</em> (o chapéu do <em>Mickey Feticeiro</em>) foi
    adicionado ao parque em <em>2001</em>, para comemorar os <em>100 anos de Magia</em>, e
    <em>removido em</em> <em>Janeiro de 2015</em>. Porém, antes do chapéu, ainda tinha uma
    <em>Caixa D’água do Mickey</em> que foi o primeiro símbolo do parque.</p>
  <p>&nbsp;</p>
</div>
<div class="m-5 text-justify">
  <h3><em>Quais <a href="#">FastPass+</a>
      indicamos?</em></h3>
  <p>Primeiramente, se você encontrar algum da <em>“Slinky Dog Dash”</em> ou da <em>“Alien Swirlin’
      Saucers”</em> PEGUE! Essas <em>atrações são as novas</em> da novíssima área <em>Toy Story
      Land</em>, OU SEJA: <em>é raro encontrar</em>, portanto, se encontrar, <em>GARANTA O
      SEU</em>.</p>
  <p>As <em>demais atrações</em> que valem a pena você procurar um <em><a href="#">FastPass+</a>
    </em>(vamos apelidar de <a href="#">FP+</a>)
    são: <em>“Toy Story Mania!”</em> (joguinho de tiro ao alvo com os brinquedos mais amados da Disney),
    <em>“Rock ‘n’ Roller Coaster”</em> (montanha-russa do Aerosmith), <em>“For the First Time in
      Forever: Frozen Sing-Along Celebration”</em> (teatro musical de Frozen), <em>“The Twilight Zone: Tower
      of Terror”</em> (elevador do terror) e <em>“Fantasmic!”</em> (show noturno).</p>
  <p><em>IMPORTANTE:</em> os <a href="#">FP+</a> do
    <em>Hollywood Studios</em> são divididos em <em>Grupos A e B</em>, ou seja, a organização dos <a href="#">FP+</a>
    são diferentes – <em>você pode pegar 1 <a href="#">FP+</a>
      do grupo A</em> (que envolve as 3 atrações do <em>Toy Story</em> – <em>“Slinky Dog Dash”,
      “Alien Swirlin’ Saucers”</em> e <em>“Toy Story Mania!”</em>) e <em>mais 2 <a href="#">FP+</a>
      do grupo B</em> (as <em>demais atrações</em> do parque). Então: escolha bem seus primeiros <a href="#">FP+</a>
    e
    siga nossa <em>DICA:</em></p>
  <ul>
    <li><em>Tente marcar os seus 3 <a href="#">FP+</a>
        o mais cedo possível</em> porque, depois que você usar os 3, você pode ir marcando um por vez, o que
      <em>faz você aproveitar MUITO MAIS</em> o parque.</li>
  </ul>
  <p>&nbsp;</p>
  <h3><em>Do mais…</em></h3>
  <ul>
    <li>Se você entrar em uma <em>fila</em> e ela <em>demorar um pouco a mais</em>, baixe o
      aplicativo <em>Play Disney Parks</em>, nele você encontra várias <em>atividades</em>,
      <em>joguinhos</em> e <em>músicas temáticas</em> para <em>passar o tempo</em> enquanto
      espera em alguma fila;</li>
    <li><a href="#">Se
        você é <em>fã de</em> <em>Star Wars</em></a>, você não pode perder a <em>Marcha da
        Primeira Ordem</em> que acontece em diversos horários (a<em> cada uma hora começando as
        10h</em>, com exceção das 13h) <em>ao longo do dia</em> (<em>a última começa as
        17h</em>);</li>
    <li>Outra apresentação que você não pode perder se for fã de <a href="#"><em>Star
          Wars</em></a> é o <em>“Star Wars: A Galaxy Far, Far Away”</em> que acontece ao longo do dia
      também (a cada uma hora), <em>começando as 11h30 e a última as 18h30</em> (com exceção das 14h30);
    </li>
    <li>Fique atento aos shows noturnos: o <em>“Fantasmic!”</em> começa as <em>20h30</em> no teatro
      que fica ao lado do <em>show da Bela e a Fera</em> na <em>Sunset Boulevard</em>, PORÉM, é
      muito importante que você <em>chegue lá com certa antecedência</em> (entre 45 minutos e 1 hora) pois
      esse <em>show é tão INCRÍVEL que LOTA rápido</em>;</li>
    <li>Fique atenta as <em><a href="#">alturas
          das atrações</a></em>;</li>
    <li><span style="color: #00ccff;"><em>IMPORTANTE:</em></span> Em algumas ocasiões, <a href="#">o
        <em>Disney’s Hollywood Studios</em> tem outros shows</a>, porém os horários deles cruzam com o tempo
      do<em> “Fantasmic!”</em>, ou seja, você tem que <em>escolher qual show prefere assistir</em>.
      Nós do <em>CDO</em> recomendamos que, <em>caso seja sua primeira vez na Disney</em> você dê
      preferência ao <em>“Fantasmic!”</em>;
      <ul>
        <li>Os shows são:<em> “Star Wars: A Galactic Spectacular”</em> as 21h; <em>“Disney Movie
            Magic”</em> as <em>20h40</em>; e na época de Natal geralmente tem um <em>outro show de
            luzes e fogos no Teatro Chinês</em>.</li>
      </ul>
    </li>
  </ul>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <h2 style="text-align: center;"><em>E o roteiro do Hollywood Studios…</em></h2>
  <p>Assim que você entrar no parque, você vai descer a <em>Hollywood Boulevard</em> (a rua principal) e
    <em>vai virar a direita</em> na…</p>
  <p>&nbsp;</p>
  <h3 style="text-align: center;"><em>SUNSET BOULEVARD</em></h3>
  <p>A rua mais famosa do <em>Disney’s Hollywood Studios</em> e que tem as <em>principais atrações do
      parque</em>, ou seja: recomendamos que você faça todas (rs):</p>
  <ul>
    <li><em>Beauty and the Beast – Live on Stage</em> (show musical da Bela e a Fera)</li>
    <li><em>The Twilight Zone: Tower of Terror</em> (o famoso elevador do terror)</li>
    <li><em>Rock ‘n’ Roller Coaster – Starring Aerosmith</em> (montanha-russa no escuro)</li>
  </ul>
  <p><span style="color: #ff00ff;"><em>Dica:</em></span> a <em>sorveteria</em> que tem na esquina,
    antes da entrada da <em>Rock ‘n’ Roller Coaster</em> tem <em>diversos sabores</em> e que vale a
    pena – principalmente em <em>dias quentes</em> – e inclui <em>sabores de sorbet</em>.</p>
  <p>&nbsp;</p>
  <p style="text-align: center;">Voltando para a…</p>
  <h3 style="text-align: center;"><em>HOLLYWOOD BOULEVARD</em></h3>
  <p>Descendo em direção ao <a href="#"><em>Teatro
        Chinês</em> </a>(uma replica do <em>Teatro Chinês original</em>, localizado em <em>Los
      Angeles</em>), a direita, você entra na…</p>
  <p>&nbsp;</p>
  <h3 style="text-align: center;"><em>ANIMATION COURTYARD</em></h3>
  <p>Uma área que você encontra a ala das&nbsp;<em><span style="color: #000000;"><a style="color: #000000;"
          href="#">animações</a></span>
      da Disney</em>.</p>
  <p><em>Quais atrações recomendamos:</em></p>
  <ul>
    <li><em>Voyage of the Little Mermaid</em> (teatro musical da Pequena Sereia)</li>
  </ul>
  <p><em>O que recomendamos se você estiver com crianças pequenas:</em></p>
  <ul>
    <li><em>Disney Junior!</em> Dance Party</li>
  </ul>
  <p>E você pode encontrar algumas <span style="color: #800080;"><em>personalidades famosas</em></span>
    nessa área:</p>
  <ul>
    <li><em>BB-8</em> (na área do Launch Bay)</li>
    <li><em>Kylo Ren</em> (na área do Launch Bay)</li>
    <li><em>Chewbacca</em> (na área do Launch Bay)</li>
    <li><em>Doc McStuffins</em></li>
    <li><em>O pirata Jake</em></li>
    <li><em>Princesa Sofia</em></li>
    <li><em>Pluto</em></li>
  </ul>
  <p>Continuando o caminho por trás, saindo do lado da atração da pequena Sereia você encontra o <em>“Walt
      Disney Presents”</em>, um lugar que você vê mais sobre a história e a vida de <em>Walter Elias
      Disney</em>, além de saber mais sobre os <em>parques de Orlando</em> e sobre
    <em>Disneyland</em> e até uma maquete da nova <a href="#"><em>“Star
        Wars: Galaxy Edge”</em></a>, que <em>será inaugurada em 2019</em>. Além disso, lá dentro, você
    pode encontrar um <em><span style="color: #800080;">outro personagem</span> diferentão</em> e, dessa
    vez, da <em>Marvel: Starlord</em>.</p>
  <p>&nbsp;</p>
  <p style="text-align: center;">Seguindo o caminho, vamos encontrar…</p>
  <h3 style="text-align: center;"><em>TOY STORY LAND</em></h3>
  <p>A nova área do Hollywood Studios, inaugurada em Junho de 2018, representa o quintal do Andy, dono dos
    brinquedos… o que faz você se tornar também um brinquedo (ANDY IS COMING!). Essa área tem <span
      style="color: #000000;"><em>3 atrações</em></span>, e recomendamos todas:</p>
  <ul>
    <li><em>Slinky Dog Dash</em></li>
    <li><em>Alien Swirling Saucers</em></li>
    <li><em>Toy Story Mania</em></li>
  </ul>
  <p>&nbsp;</p>
  <p>Nessa área também tem um <em>restaurante muito bom</em> e com alguns <em>pratos
      diferentes</em>, o que vale a pena dar uma passadinha para conhecer: <em>Woody’s Lunch Box</em>
  </p>
  <p><em>DICA:</em> Prove a bebida <em>Mystical Portal Punch</em> (um <em>Powerade de limão e
      tangerina</em>), Totchos (batatinhas com salgadinho de milho, queijo, chilli e cheddar) e <em>BBQ
      Brisket Melt</em> (em homenagem ao cowboy <em>Woody</em>, esse <em>sanduíche texano</em>
    tem peito defumado com queijo cheddar, monterey jack, picles e molho barbecue no pão especial grelhado com
    manteiga e alho).</p>
  <p>De <em><span style="color: #800080;">brinquedos famosos</span> </em>que você pode encontrar:</p>
  <ul>
    <li><em>Woody</em></li>
    <li><em>Buzz Lightyear</em></li>
    <li><em>Jessie</em></li>
  </ul>
  <p>&nbsp;</p>
  <p style="text-align: center;">Saindo da área dos brinquedos e passando pela <em>frente do <a href="#">Teatro
        Chinês</a></em>, você chega na</p>
  <h3 style="text-align: center;"><em>COMISSARY LANE</em></h3>
  <p>Aqui, você consegue <span style="color: #800080;"><em>t</em><em>irar uma foto
        maravilhosa</em></span> com o <em>Mickey Feiticeiro</em> e com a <em>Minnie de vestido de
      gala</em> (!!!)</p>
  <p>Se você quiser <em>comer por aqui</em> em um <em>Quick Service</em> bom e com variedade,
    recomendamos o <em>ABC Comissary</em>.</p>
  <p><span style="color: #ff00ff;"><em>DICA:</em></span> Nessa área tem o restaurante <em>Sci-Fi Dine-In
      Theater Restaurant</em>, que vale a pena uma <em>reserva</em>… imagina você comer enquanto
    <em>assiste um filme dentro de um carro</em> no melhor estilo de <em>Drive-in americano</em>.
  </p>
  <p>&nbsp;</p>
  <p style="text-align: center;">Pra continuar a sua diversão…</p>
  <h3 style="text-align: center;"><em>GRAND AVENUE</em></h3>
  <p>Aqui é uma área dedicada aos <em>Muppets</em>… e pra você se divertir com eles, nada melhor que a
    atração <em>Muppet Vision 3D</em>, um filme 3D com todos o <em>Caco, o Sapo</em>
    (<em>Kermit, the Frog</em>) e sua turma. E se nessa hora der aquela fome, você tem a opção de comer no
    <em>PizzeRizzo</em>.</p>
  <p>Nessa área você pode visitar a <em>It’s a Wonderful Shop</em>, uma loja que tem diversas
    <em>decorações de Natal no ano todo</em>.</p>
  <p>&nbsp;</p>
  <p style="text-align: center;">E por último, vamos para…</p>
  <h3 style="text-align: center;"><em>ECHO LAKE</em></h3>
  <p>Aqui você pode aproveitar o <em>Star Tours</em>, a atração baseada em <em>Star Wars</em> que te
    leva pra uma <em>perseguição intergaláctica</em>! Além de poder ver um show sensacional do
    <em>Indiana Jones</em> na atração <em>Indiana Jones: Epic Stunt Spectacular</em>!</p>
  <p>Outra atração que você pode ir e que é um show<em> INCRÍVEL</em> é a <em>For the First Time in
      Forever: A Frozen Sing-Along Celebration</em>, em que os <em>contadores de história</em> aparecem
    contando tudo de <em>Frozen</em> e você pode <em>soltar os pulmões e cantar com toda a
      força</em> as suas <em>músicas favoritas</em>. E se você gosta de um <em>abraço
      quentinho</em>… nada melhor que <span style="color: #800080;"><em>encontrar</em> </span>o
    <em>Olaf </em>(rs).</p>
  <p><span style="color: #ff00ff;"><em>Dica:</em> </span>nessa área tem <em>2 restaurantes para
      reserva</em> que são muito bons: <em>50’s Prime Time Café</em>, com temática dos <em>anos
      50</em>; e o <em>Hollywood &amp; Vine</em>, onde acontecem vários eventos de
    <em>personagens</em>, como da <em>Minnie</em> e da <em>Margarida</em>, ou até mesmo do
    <em>Disney Junior</em>.</p>
  <p>Se você quiser aquela <em>comida rápida</em>, recomendamos o restaurante <em>Backlot
      Express</em>.</p>
  <p>&nbsp;</p>
  <p><em>E pra finalizar o dia…</em> Vá para o teatro ao lado da <em>Hollywood Tower of Terror</em>,
    onde você vai assistir um dos<em> melhores shows</em> do <em>Walt Disney World</em>:
    <em>FANTASMIC!</em></p>
  <p>&nbsp;</p>
  <p><span style="color: #00ccff;"><em>OBS.:</em></span> <em>Fique atento aos horários dos
      shows</em> que você pode acompanhar pelo <em>aplicativo My Disney Experience</em> ou pegando um
    <em>guia na entrada do parque</em>, isso facilita muito o seu <em>planejamento</em> e deixa seu
    dia menos corrido.</p>
  <p><span style="color: #00ccff;"><em>OBS 2.:</em></span> Chegue ao <em>Fantasmic</em> com cerca de
    <em>45 minutos de antecedência do show</em>, principalmente quando o parque estiver lotado.</p>
  <p>&nbsp;</p>
  <h3><em>5 pontos pra tirar foto:</em></h3>
  <ol>
    <li>Na frente da Guitarra da <em>Rock ‘n’ Roller Coaster</em>;</li>
    <li>No meio da <em>Sunset Boulevard</em> em frente a <em>Tower of Terror</em>;</li>
    <li>Na frente do <em>Woody</em> da entrada da <em>Toy Story Land</em>;</li>
    <li>Na frente da bola da <em>Pixar</em> na <em>Toy Story Land</em>;</li>
    <li>Na entrada do parque, com o topiário do <em>Mickey Feiticeiro</em>.</li>
  </ol>
  <p>&nbsp;</p>
</div>