<div class="mt-5 text-center text-danger">
  <h1 class="post-title">Roteiro do Magic Kingdom</h1>
  <div class="post-date">04/09/2018</div>
</div>

<div class="m-5">
  <img class="img-fluid" src="../../assets/roteiro/mk-roteiro.jpg" />
</div>
<div class="m-5 text-justify">
  <p>Como o <em>primeiro parque da Disney</em> construído em <em>Orlando</em>, somando ao fato de
    ser
    o <em>principal e mais famoso da região</em>, o <em>Magic Kingdom</em> é, sem dúvida alguma,
    onde
    a <em>mágica</em> acontece (não é a toa que é o <em>lugar escolhido por diversos casais</em>
    para
    um <em>belíssimo pedido de casamento</em>).</p>
  <p>Bom, o <em>Magic Kingdom</em> (ou <em>MK</em> pros mais íntimos) é o que muitas pessoas chamam
    de
    <em>Disney</em>, pelo simples fato de ter o <em>icônico Castelo da Cinderella</em> como
    <em>símbolo do parque e do complexo</em>. Baseado no parque <em>Disneyland</em> da
    <em>Califórnia</em> (a <em>primeira Disney</em> construída no mundo), o <em>MK</em> foi
    inaugurado em <em>1<sup>o</sup> de Outubro de 1971</em> e, infelizmente, <em>Walt Disney</em>
    não
    pisou nele depois de pronto.</p>
  <p>O parque é <em>dividido em 6 áreas temáticas</em> (Lands): <em>Main Street U.S.A.</em>,
    <em>Tomorrowland</em>, <em>Fantasyland</em> (subdividida em <em>Fantasyland</em> – a
    área
    do <em>PhilharMagic</em> – e a <em>New Fantasyland</em> – <em>Storybook Circus</em> e
    <em>Enchanted Forest</em>), <em>Liberty Square</em>, <em>Frontierland</em> e
    <em>Adventureland</em>.</p>
  <p>&nbsp;</p>
</div>
<div class="m-5 text-justify">
  <h5>Antes de qualquer coisa, temos <em>a dica mais importante</em> de todas: <em>FIQUE ATENTO AS DATAS
      QUE VOCÊ VAI AO MAGIC KINGDOM!</em> Porque…</h5>
  <ul>
    <li><em>Primeiro:</em> o <em>MK</em> de <em>Sábado e Segunda</em> é absurdamente
      <em>lotado</em>;</li>
    <li><em>Segundo:</em> Se sua viagem for <em>a partir de Agosto</em>, <em>preste atenção no
        calendário do parque</em> por causa das festas <em>“Mickey’s Not-So-Scary Halloween Party”</em>
      e a <em>“Mickey’s Very Merry Christmas Party”</em>; Nos dias de festa existe um <em>ingresso
        adicional a venda</em> e quem não tiver esse ingresso tem que sair do parque as 18h.</li>
  </ul>
  <p>Com o <em>ingresso em mãos</em>, sincronize eles na sua conta do aplicativo <em>My Disney
      Experience</em>. Com essa sincronização feita, você poderá agendar <em>3 <a href="#">Fastpass+</a></em>
    (o famoso <em>fura-fila</em>) para o seu <em>dia de parque</em>.</p>
  <p>&nbsp;</p>
  <h3><em>Quais <a href="#">Fastpass+</a>
      indicamos?</em></h3>
  <p>Primeiramente, se você encontrar algum da <em>“Seven Dwarfs Mine Train”</em>, PEGUE! Essa é a
    <em>atração mais concorrida</em> do <em>MK</em> e, consequentemente, a que tem <em>a maior
      fila</em>.</p>
  <p>As demais <em>atrações que valem a pena</em> você procurar um <a href="#"><em>FastPass+</em>
    </a>(vamos apelidar de <em>FP+</em>) são: <em>Space Mountain</em> (na
    <em>Tomorrowland</em>), <em>Big Thunder Mountain</em> (na <em>Frontierland</em>),
    <em>Splash Mountain</em> (na <em>Frontierland</em>), <em>Peter Pan’s Flight</em> (na
    <em>Fantasyland</em>), <em>Haunted Mansion</em> (na <em>Liberty Square</em>) e
    <em>Pirates of the Caribbean</em> (na <em>Adventureland</em>).</p>
  <p><span style="color: #ff00ff;"><em>DICA:</em> </span>tente marcar os seus <em>3 <a href="#">FP+</a></em>
    o <em>mais cedo possível</em> porque, depois que você usar os <em>3</em>, você pode <em>ir
      marcando um por vez</em>, o que faz você<em> aproveitar MUITO MAIS</em> o parque.</p>
  <p>&nbsp;</p>
  <h3><em>Do mais…</em></h3>
  <ul>
    <li><em>Chegue cedo</em>, antes da abertura do parque. Com isso você pode ver o <em>show de abertura
        na frente do castelo com vários personagens</em>.</li>
    <li>Como<em> todo mundo</em> que chega no <em>MK</em> começa o parque no <em>sentido
        anti-horário</em> (começando pela <em>Tomorrowland</em>)… nós recomendamos você <em>começar
        pelo outro lado</em>, pela <em>Adventureland</em>.</li>
    <li><em>Tenha com você sempre um mapa e um times guide</em> para ficar ciente dos <em>horários dos
        shows</em> e das <em>paradas</em>. Por exemplo: ao longo do dia acontecem <em>diversas
        apresentações</em> do <em>Mickey’s Royal Friendship Faire</em> e da parada <em>Move It!
        Shake It! Dance &amp; Play It! Street Party</em>, então <em>programe-se</em> para ver ambas em
      pelo menos um dos horários.</li>
    <li>Se você entrar em uma <em>fila</em> e ela <em>demorar um pouco a mais</em>, baixe o
      aplicativo <em>Play Disney Parks</em>, nele você encontra <em>várias atividades</em>,
      <em>joguinhos</em> e <em>músicas temáticas</em> para passar o tempo enquanto <em>espera em
        alguma fila</em>.</li>
    <li><em>Você não para seu carro pertinho do parque</em> igual os demais, você vai estacionar seu carro
      no <em>Ticket and Transportation Center</em> (no seu <em>GPS</em> você pode procurar com esse
      nome que aparece o <em>caminho certinho</em>); de lá, você pode chegar a <em>entrada do
        parque</em> pelo <em>Monorail</em> ou pelo <em>Ferryboat;</em></li>
    <li>Fique atento as <em><a href="#">alturas
          das atrações</a></em>;</li>
  </ul>
  <p>&nbsp;</p>
  <h2 style="text-align: center;"><em>E o roteiro do Magic Kingdom…</em></h2>
  <p>&nbsp;</p>
  <p style="text-align: center;">Comece <em>descendo a…</em></p>
  <h3 style="text-align: center;"><em>MAIN STREET U.S.A.</em></h3>
  <p>Se você <em>chegou cedo</em> ao <em>MK</em>, assista o <em>showzinho de abertura</em>
    chamado <em>“Let the Magic Begin”</em> (que começa <em>em torno de 8:55am</em>, quando o parque
    abre as <em>9:00am</em>) na <em>frente do Castelo</em>. Aproveite que o parque ainda não está
    lotado para <em>tirar a clássica foto</em> em frente ao <em>Castelo</em> e a à estátua do
    <em>Walt Disney</em> com o <em>Mickey</em>.</p>
  <p><em>Aqui você pode encontrar alguns <span style="color: #800080;">personagens</span> também:</em></p>
  <ul>
    <li>No <em>Theater:</em> <em>Mickey Mouse</em> e <em>Tinker Bell</em> (Sininho)</li>
    <li>No <em>Town Square:</em> <em>Pluto</em></li>
  </ul>
  <p><span style="color: #ff00ff;"><em>DICA:</em></span> E se você está procurando a <em><a href="#">Pia do
        Mickey</a></em> ou a <a href="#"><em>Pia
        da Minnie</em></a>
    (enquanto durarem os estoques), é nessa área que você vai encontrar, no <em>número 8 do mapa</em> –
    <em>Plaza Ice Cream Parlor</em>.</p>
  <p>&nbsp;</p>
  <p style="text-align: center;">Primeira <em>ponte a esquerda…</em></p>
  <h3 style="text-align: center;"><em>ADVENTURELAND</em></h3>
  <p style="text-align: center;"><em>(Adventure)</em></p>
  <p>A <em>Adventure</em> representa o <em>mistério de explorar terras estrangeiras</em>, com
    uma<em> temática</em> que lembra as <em>florestas e construções</em> de regiões como
    <em>África</em>, <em>Ásia</em>, <em>Oriente Médio</em> e <em>Pacífico Sul</em>.
    Nessa área, tem <em>atrações para todas as idades</em>, porém <em>as que indicamos você
      fazer</em> (caso você tenha somente um dia de parque) <em>são</em>:</p>
  <ul>
    <li><em>Jungle Cuise</em></li>
    <li><em>Pirates of the Caribbean</em></li>
  </ul>
  <p><em>Sobre as demais (caso você tenha interesse):</em></p>
  <ul>
    <li>Walt Disney’s <em>Enchanted Tiki Room</em></li>
    <li><em>The Magic Carpets</em> of Aladdin</li>
  </ul>
  <p><em>O que não recomendamos:</em></p>
  <ul>
    <li><em>Swiss Family Treehouse</em></li>
  </ul>
  <p><span style="color: #ff00ff;"><em>Dica:</em> </span>não deixe de passar no <em>Aloha Isle</em>
    para provar os <em>snacks de abacaxi</em>, como: <em>Pineapple Float</em> – suco de abacaxi com
    sorvete de abacaxi, baunilha ou meio a meio em cima; <em>Pineapple DOLE WHIP Cup</em> – somente o
    sorvete de abacaxi, baunilha ou meio a meio; ou o <em>Pineapple Upside Down Cake</em> – um pedaço de
    bolo servido com sorvete de abacaxi, baunilha ou meio a meio em cima.</p>
  <p><em>E você sabe <span style="color: #800080;">quem encontra aqui</span>?</em></p>
  <ul>
    <li><em>Perto do Aloha Isle</em>: Aladdin e Jasmine</li>
  </ul>
  <p>&nbsp;</p>
  <p style="text-align: center;"><em>Seguindo o plano</em>… próxima parada…</p>
  <h3 style="text-align: center;"><em>FRONTIERLAND</em></h3>
  <p style="text-align: center;"><em>(Frontier)</em></p>
  <p style="text-align: left;">A <em>Frontier</em> é aquele lugar que você vai para ver e viver um pouquinho
    do <em>Velho Oeste</em> (tipo dos filmes) com <em>embates entre cowboys e nativos
      americanos</em> para explorar os <em>mistérios</em> do <em>Rivers of America</em>. As
    <em>atrações</em> que, na nossa opinião merecem prioridade são:</p>
  <ul>
    <li><em>Big Thunder Mountain</em></li>
    <li><em>Splash Mountain</em></li>
  </ul>
  <p><em>Sobre as demais (caso você tenha interesse):</em></p>
  <ul>
    <li><em>Tom Sawyer</em> Island</li>
    <li><em>Walt Disney World Railroad</em></li>
  </ul>
  <p><em>O que não recomendamos:</em></p>
  <ul>
    <li><em>Country Bear</em> Jamboree</li>
    <li><em>Frontier Shootin’ Arcade</em> – pago a parte</li>
  </ul>
  <p><span style="color: #ff00ff;"><em>Dica:</em> </span>Comer a <em>Turkey Leg</em></p>
  <p>&nbsp;</p>
  <p style="text-align: center;">E na <em>continuação</em>, você entra na…</p>
  <h3 style="text-align: center;"><em>LIBERTY SQUARE</em></h3>
  <p style="text-align: center;"><em>(Liberty)</em></p>
  <p>A <em>Liberty</em> é baseada em uma <em>vila colonial da Revolução Americana</em>.</p>
  <p><em>Das atrações existentes nessa área, a que mais indicamos é:</em></p>
  <ul>
    <li>Haunted Mansion</li>
  </ul>
  <p><em>Sobre as demais (caso você tenha interesse):</em></p>
  <ul>
    <li>The <em>Hall of Presidents</em></li>
    <li><em>Liberty Square Riverboat</em></li>
  </ul>
  <p><em>Não perca:</em> em cima do <em>Liberty Square Ticket Office</em> acontece um <em>show
      dos Muppets</em> chamado <em>“Great Moments with Muppets”</em>.</p>
  <p><span style="color: #ff00ff;"><em>Importante saber:</em> </span>se você tiver qualquer
    <em>problema</em> ou <em>qualquer dúvida</em> ou <em>precisar de qualquer ajuda
      extra</em>, na <em>Liberty</em> tem um lugar que chama <em>Heritage House</em>, que tem o
    <em>Liberty Square Ticket Office</em>, e lá tem <em>Guest Relations</em> que podem te ajudar.
  </p>
  <p><span style="color: #00ccff;"><em>Fun Fact:</em> </span>a <em>parte mais escura do chão</em>
    representa a <em>passagem do esgoto</em>; e você pode rodar a land inteira que você <em>não vai
      encontrar nenhum banheiro</em> (somente dentro do <em>Columbia Harbour House</em>) uma vez que
    nessa época <em>era tudo feito a céu aberto</em>.</p>
  <p><span style="color: #ff00ff;"><em>Dica:</em></span> <em>Sleepy Hollow</em> – comer
    <em>Funnel Cake</em></p>
  <p>Nesse momento, provavelmente, <em>sua barriga estará roncando</em> (rs) então recomendamos você parar
    no <em>Columbia Harbour House</em> para comer.</p>
  <p>Recomendamos parar para comer em torno de <em>12:30/1:00pm</em> para poder aproveitar e ver a
    <em>Festival of Fantasy Parade</em>, que começa as <em>2:00pm</em>&nbsp;(ou <em>3:00pm
      dependendo da época</em>) – saindo da<em> Frontierland</em>, do lado da <em>Splash
      Mountain</em>.</p>
  <p>&nbsp;</p>
  <p style="text-align: center;">No fim da <em>Lib</em>, a direita… se você seguir a torre da
    <em>Rapunzel</em> você chega na…</p>
  <h3 style="text-align: center;"><em>FANTASYLAND</em></h3>
  <p style="text-align: center;"><em>(Fantasy)</em></p>
  <p>A <em>Fantasy</em> é a área em que o <em>Castelo</em> está inserido e tem como tema <em>um
      estilo de feira medieval</em>, o que nas palavras de <em>Walt Disney</em>: <em>“A Fantasyland
      é dedicada aos jovens de coração e àqueles que acreditam que quando você faz um desejo para uma estrela, seus
      sonhos se tornarão realidade”</em>. Essa área foi expandida com a <em>New Fantasyland</em>,
    inaugurada em <em>06 de Dezembro de 2012</em> e ganhou <em>muitas atrações</em>. De toda área,
    <em>as atrações que recomendamos são</em>:</p>
  <ul>
    <li><em>Mickey’s PhilharMagic</em></li>
    <li><em>Peter Pan’s Flight</em></li>
    <li><em>Seve Dwarfs Mine Train</em></li>
    <li><em>Under the Sea</em></li>
  </ul>
  <p><em>Sobre as demais (caso você tenha interesse):</em></p>
  <ul>
    <li><em>“it’s a small world”</em></li>
    <li><em>Mad Tea Party</em></li>
    <li>Prince Charming <em>Regal Carrousel</em></li>
    <li>The Many <em>Adventures of Winnie the Pooh</em></li>
    <li><em>Dumbo</em> the Flying Elephant</li>
    <li><em>Enchanted Tales</em> with Belle</li>
    <li><em>Walt Disney World Railroad</em></li>
  </ul>
  <p><em>O que não recomendamos:</em></p>
  <ul>
    <li>The Barnstormer</li>
  </ul>
  <p><em>Aqui na Fantasy, você pode encontrar alguns <span style="color: #800080;">personagens</span> para
      fotos:</em></p>
  <ul>
    <li>No <em>Princess Fairytale Hall</em>: <em>Cinderella</em> e <em>Elena de Avalor</em>
      de um lado; <em>Rapunzel</em> e <em>Tiana</em> do outro lado (o dia todo)</li>
    <li>Ao lado do <em>Peter Pan’s Flight</em>: <em>Peter Pan</em> (até o meio da tarde)</li>
    <li>Em frente ao <em>Mad Tea Party</em>: <em>Alice</em> e o <em>Chapeleiro</em> (na
      parte da manhã)</li>
    <li>Na <em>Ariel’s Grotto</em>: <em>Princesa Ariel</em> (o dia todo)</li>
    <li>No <em>Fairytale Garden</em> (atravessando a ponte da <em>Fantasy</em> a direita):
      <em>Princesa Merida</em></li>
    <li>No <em>Thotful Spot</em> (ao lado do brinquedo do <em>Pooh</em>): <em>Tigrão</em> e
      <em>Ursinho Pooh</em></li>
    <li>Ao lado da <em>Gaston’s Tavern</em>: <em>Gastão</em> (até o fim da tarde)</li>
    <li>No <em>Pete’s Silly Sideshow</em>: <em>Minnie</em> e <em>Margarida</em> de um lado;
      <em>Donald</em> e <em>Pateta</em> do outro lado (até o começo da noite, antes dos fogos)</li>
  </ul>
  <p>&nbsp;</p>
  <p><span style="color: #ff00ff;"><em>DICA:</em> </span>Você pode tirar uma <em>foto incrível</em>
    com a <em>lanterna</em> do filme <em>Enrolados</em> na frente da <em>torre da
      Rapunzel</em>, atrás do <em>Columbia Harbour House</em> e próximo a <em>Haunted
      Mansion</em>!</p>
  <p>&nbsp;</p>
  <p style="text-align: center;">E por fim, porém não <em>menos importante</em>, a futurística:</p>
  <h3 style="text-align: center;"><em>TOMORROWLAND</em></h3>
  <p style="text-align: center;"><em>(Tomorrow)</em></p>
  <p>O foco da <em>Tomorrow</em> é uma <em>cidade intergaláctica</em>, como era imaginado na
    <em>década de 1950</em>, cheio de<em> foguetes e robôs</em>. Como descrito por <em>Walt
      Disney</em>: <em>“O amanhã pode ser uma era maravilhosa. Nossos cientista hoje estão abrindo a porta
      para a era espacial para feitos que beneficiarão nossos filhos e as gerações que estão por vir. As atrações da
      Tomorrowland foram projetadas para dar a você uma oportunidade de participar em aventuras que são um modelo de
      vida de nosso futuro”</em>.</p>
  <ul>
    <li><em>Buzz Lightyear’s Space Rager Spin</em></li>
    <li><em>Space Mountain</em></li>
  </ul>
  <p><em>Sobre as demais (caso você tenha interesse):</em></p>
  <ul>
    <li><em>Astro Orbiter</em></li>
    <li><em>Monsters, Inc.</em> Laugh Floor</li>
    <li><em>Tomorrowland Speedway</em></li>
    <li>Tomorrowland Transit Authority<em> PeopleMover</em></li>
    <li><em>Walt Disney’s Carrousel of Progress</em></li>
  </ul>
  <p><em>Aqui também tem <span style="color: #800080;">personagens</span> para aquela foto incrível que você
      quer:</em></p>
  <ul>
    <li>Atrás da atração do <em>Buzz Lightyear’s Space Rager Spin</em>: <em>Buzz Lightyear</em></li>
    <li>Dentro do lugar onde era a atração<em> Stitch’s Great Escape</em>: <em>Stitch</em></li>
  </ul>
  <p>&nbsp;</p>
  <h3 style="text-align: center;"><em>MAIN STREET U.S.A. (de novo)</em></h3>
  <p>Para o <em>grande show</em> de encerramento <em>HAPPILY EVER AFTER</em> (fique atento ao
    <em>times guide</em> para <em>saber certinho a hora que começa</em>) e em seguida tem o
    <em>ONCE UPON A TIME</em>.</p>
  <p><span style="color: #ff00ff;"><em>Dica:</em></span> chegue a <em>Main Street U.S.A</em>. cerca
    de <em>45 minutos antes do show</em> para você conseguir pegar um <em>lugar bom</em> para ter
    uma <em>visão incrível</em>!</p>
  <p><span style="color: #ff00ff;"><em>Dica 2:</em> </span>Não assista o <em>Happily Ever After</em>
    de lugares <em>muito perto do Castelo</em>, isso <em>prejudica a visão da grandiosidade dos
      fogos</em>.</p>
  <p>&nbsp;</p>
  <h3><em>5 pontos para tirar fotos do Castelo</em></h3>
  <ol>
    <li>Ponte Liberty Square</li>
    <li>Ponte Fantasyland</li>
    <li>No caminho do lado da Sleepy Hollow</li>
    <li>Na fonte da Cinderella</li>
    <li>Na área coberta antes da ponte da Liberty Square</li>
  </ol>
</div>