<div class="mt-5 text-center text-info">
  <h1 class="post-title">Roteiro do Epcot</h1>
  <div class="post-date">04/11/2018</div>
</div>

<div class="m-5">
  <img class="img-fluid" src="../../assets/roteiro/epcot-roteiro.jpg" />
</div>
<div class="m-5 text-justify">
  <p>O <em>Epcot</em> é o <em>segundo dos quatro parques temáticos</em> construídos no <em>Walt Disney World</em> em
    <em>Orlando</em>. Ele foi inaugurado como <em>EPCOT Center</em> (<em>Experimental Prototype Community of
      Tomorrow</em>) em <em>01 de outubro de 1982</em> e cobre uma área de <em>300 acres</em>, mais de <em>duas
      vezes o tamanho do parque Magic Kingdom</em>.</p>
  <p>Em <em>2014</em>, o parque atraiu aproximadamente <em>11,45 milhões de visitantes</em>, tornando-o <em>o
      terceiro parque mais visitado dos EUA</em> e o <em>sexto parque de diversões mais visitado do mundo</em>. Em
    <em>2016</em>, o parque teve <em>mais de 11,79 milhões de visitantes</em>.</p>
  <p>O parque é representando pela <em>Spaceship Earth</em>, uma esfera que também serve como uma <em>atração</em>.
    O nome do parque ficou sendo <em>EPCOT Center</em> até <em>1994</em>, quando então foi renomeado para
    <em>Epcot’94</em>, depois <em>Epcot’95</em> e no ano seguinte para simplesmente <em>Epcot</em>, como ficou até
    hoje.</p>
  <p><span style="color: #00ccff;"><em>CURIOSIDADE:</em></span> A <em>Spaceship Earth</em> é composta por <em>11.324
      triângulos&nbsp;</em>(11.520 seria caso a Spaceship Earth flutuasse).</p>
  <p>O <em>EPCOT</em> é dedicado à <em>celebração das conquistas humanas</em>, principalmente a <em>inovação
      tecnológica</em> e a <em>cultura internacional</em>, sendo frequentemente chamado de <em>“Permanent World’s
      Fair”</em> e composto pelo <em>Future World</em> + <em>11 países</em>: <em>México</em>, <em>Noruega</em>,
    <em>China</em>,<em> Alemanha</em>, <em>Itália</em>, <em>Estados Unidos</em>, <em>Japão</em>, <em>Marrocos</em>,
    <em>França</em>, <em>Reino Unido</em> e <em>Canadá</em>.</p>
  <p><span style="color: #00ccff;"><em>CURIOSIDADE 2:</em></span> A visão original de <em>Walter Elias Disney</em>
    era de uma <em>comunidade modelo</em> que seria a casa de <em>12 mil residentes</em> e um <em>teste para uma
      cidade planejada</em> que seria construída em <em>uma forma de círculo</em>, com <em>áreas empresariais</em>
    <em>e comerciais</em> em seu centro com <em>edifícios comunitários</em>, <em>escolas</em> e <em>complexos
      recreativos</em> ao redor, enquanto os <em>bairros residenciais</em> ficariam no entorno. O
    <em>transporte</em> seria fornecido por <em>monotrilhos</em> (<em>monorails</em>) e <em>PeopleMovers</em> (como
    os da <em>Tomorrowland</em> no <em>Magic Kingdom</em>). O <em>tráfico automotivo seria subterrâneo</em>,
    deixando os <em>pedestres seguros acima do solo</em>. O modelo original do <em>EPCOT</em> pode ainda ser visto
    pelos passageiros usando a atração <em>Tomorrowland Transit Authority</em> no parque <em>Magic Kingdom</em>;
    quando o <em>PeopleMover</em> entra no prédio do <em>Stitch’s Great Escape!</em>, a porção restante do
    <em>modelo</em> é visível à esquerda (quando de frente) atrás do vidro. <em>Walt Disney</em> não foi capaz de
    <em>obter fundos e permissão</em> para iniciar a obra em sua propriedade na <em>Flórida</em> até que
    <em>concordou em construir primeiro</em> o <em>Magic Kingdom</em>. <em>Ele morreu cinco anos antes da abertura
      do Magic Kingdom</em>.</p>
  <p>&nbsp;</p>
</div>
<div class="m-5 text-justify">
  <h3><em>Quais <a href="#">Fastpass+</a>
      indicamos?</em></h3>
  <p>Primeiramente, se você encontrar algum de<em> “Frozen Ever After”</em>, PEGUE! Essa é a <em>atração
      mais concorrida do EPCOT</em> e, consequentemente, a que tem a <em>maior fila</em>.</p>
  <p>As <em>demais atrações</em> que valem a pena você procurar um <em><a href="#">FastPass+</a></em>
    (vamos apelidar de FP+) são: <em>Soarin’</em> (pavilhão The Land), <em>Test Track</em> (no
    Future World) e <em>Character Spot</em> (pra encontrar o <em>Mickey</em>, a
    <em>Minnie</em> e o <em>Pateta</em>).</p>
  <p><span style="color: #ff00ff;"><em>DICA:</em></span> tente marcar os seus 3 <em><a href="#">FP+</a></em>
    o <em>mais cedo possível</em> porque, depois que você usar os 3, você pode ir <em>marcando um por
      vez</em>, o que faz você aproveitar <em>MUITO MAIS</em> o parque.</p>
  <p>&nbsp;</p>
  <h3><em>Do mais…</em></h3>
  <ul>
    <li>Pegue um <em>mapa com os horários</em> na <em>entrada do parque</em> pois existem
      <em>apresentações diferentes</em> pelo parque que você pode curtir (como uma <em>apresentação
        circense</em> no <em>pavilhão da China</em>);</li>
    <li>Se você entrar em uma <em>fila</em> e ela <em>demorar um pouco a mais</em>, baixe o
      aplicativo <em>Play Disney Parks</em>, nele você encontra <em>várias atividades</em>,
      <em>joguinhos</em> e <em>músicas temáticas</em> para passar o tempo enquanto espera em alguma
      fila;</li>
    <li>Cada país tem seus <em>personagens característicos</em>, ou seja: o <em>EPCOT</em> é um
      excelente parque para fazer a <em>caça a personagens</em>;</li>
    <li>Fique atento as <a href="#"><em>alturas
          das atrações</em></a>;</li>
  </ul>
  <p>&nbsp;</p>
  <h2 style="text-align: center;"><em>E o roteiro do EPCOT…</em></h2>
  <p>&nbsp;</p>
  <p style="text-align: center;">Começando pelo…</p>
  <h2 style="text-align: center;"><em>Future World</em></h2>
  <p>Você chegando ao <em>parque</em>, já vai dar de cara com a <em>famosa bola</em>, <em>ícone
      do parque</em>… e é lá que você tem que ir primeiro: <em>Spaceship Earth</em>, que se resume a uma
    <em>viagem no tempo</em> para <em>explorar a história da comunicação</em>, desde a <em>Era
      da Pedra</em> até a <em>Era dos computadores</em>.</p>
  <p>Depois que sair da atração, quando estiver andando na direção da fonte (<em>Fountain Of the
      Nations</em>), vire à esquerda e siga <em>“ao infinito e além”</em> para encontrar a atração <a
      href="#"><em>“Mission:
        SPACE”</em></a>, que é uma <em>atração autêntica no estilo NASA</em> de <em>treinamento em
      simulador</em>, com duas opções: uma <em>jornada para Marte</em> de uma forma <em>mais
      intensa</em> (<em>Missão Laranja</em>); ou em <em>orbita da Terra</em> de uma forma
    <em>menos intensa</em> (<em>Missão Verde</em>).</p>
  <p><span style="color: #00ccff;"><em>CONSIDERAÇÃO:</em></span> Se você tem <em>problemas com
      tontura</em>, <em>náuseas</em> ou <em>enjoo</em>, não recomendamos, pois a <em>pressão
      interna da cabine</em> pode fazer você <em>passar mal</em>.</p>
  <p>Saindo da lojinha da atração <em>Mission: SPACE</em>, você segue a esquerda e encontra o T<em>est
      Track</em> – uma atração patrocinada pela <em>Chevrolet</em> em que você cria o <em>design do
      seu carro</em> virtualmente e parte com ele pra um <em>teste “em campo” de curvas</em>,<em>
      breque</em> e <em>velocidade</em>.</p>
  <p><span style="color: #ff00ff;"><em>DICA:</em> </span>no caminho você pode parar para comer no
    <em>Electric Umbrella</em>, um restaurante <em>Quick Service</em> muito bom e com uma
    <em>boa variedade de pratos</em>.</p>
  <p><span style="color: #ff00ff;"><em>DICA 2:</em></span> A loja <em>Mouse Gear</em> é uma das
    <em>lojas da Disney</em> com a <em>maior variedade de produtos</em> e que vale muito a pena
    passar para conhecer e até <em>comprar aquela lembrancinha</em> que você quer.</p>
  <p>&nbsp;</p>
  <p>No fim dessa outra <em>simulação</em>, você segue em direção a fonte novamente e atravessa para o outro
    lado. Bom, se você é <em>fã de refrigerante</em>, você não pode deixar de passar na loja da
    <em>Coca-Cola</em> chamada <em>Club Cool</em>. Nessa loja, você prova refrigerantes da
    <em>Coca pelo mundo</em>, como:</p>
  <ul>
    <li><em>Guaraná Kuat</em> – Brasil</li>
    <li><em>Inca Kola</em> – Peru</li>
    <li><em>Beverly</em> – Itália</li>
    <li><em>Fanta de Abacaxi</em> – Grécia</li>
    <li><em>Fanta de Melão</em> – Tailândia</li>
    <li><em>VegitaBeta</em> (sem gás) – Japão</li>
    <li><em>Bibo</em> – África do Sul</li>
    <li><em>Sparletta</em> – Zimbábue</li>
  </ul>
  <p><em>O que recomendamos?</em> Guaraná Kuat, Fanta de Melão e Sparletta.</p>
  <p>&nbsp;</p>
  <p>Então, agora você segue nessa direção e aproveita pra passar no <em>Character Spot</em> para tirar
    fotos com o <em>Mickey</em>, a <em>Minnie</em> e o <em>Pateta</em> e logo em frente você
    aproveita pra tirar fotos com o <em>Baymax</em> (de <em>Operação Big Hero 6</em>) e com a
    <em>Alegria</em> e a <em>Tristeza</em> (de <em>Divertidamente</em>). <a href="#">A
      partir do dia <em>21 de Novembro de 2018</em>, você pode encontrar o <em>Ralph</em> e a
      <em>Vanellope</em>, de <em>Detona Ralph</em>, no pavilhão <em>Innoventions
        West</em>.</a></p>
  <p>Saindo de lá e subindo para a direita, você encontra o <em>“The Seas with Nemo and Friends”</em> que é
    uma atração em que você <em>aproveita a correnteza</em> pra seguir a <em>história</em> do filme
    <em>“Procurando Nemo”</em>. É uma atração lindinha e muito boa, principalmente se você estiver
    <em>acompanhado de crianças</em>.</p>
  <p><span style="color: #ff00ff;"><em>DICA:</em> </span>Nessa área, chamada <em>“The Seas”</em>
    existem várias atrações menores para entreter as crianças e tem uns aquários enormes e muito bonitos para você
    apreciar a vida marinha.</p>
  <p><span style="color: #ff00ff;"><em>DICA 2:</em></span> Existe um restaurante chamado<em> “Coral Reef
      Restaurant”</em>, que precisa de reserva, mas é <em>um dos melhores restaurantes</em> que você vai
    comer <em>dentro da Disney</em>… principalmente se você gosta de <em>frutos do mar</em>.</p>
  <p>&nbsp;</p>
  <p>Saindo de lá, você passa pelo pavilhão do <em>“The Land”</em>, onde você encontra uma das atrações mais
    famosas do <em>EPCOT</em>: <em>Soarin’</em>. O que é o <em>Soarin’</em>? É um simulador
    de voo de asa delta que você sobrevoa <em>diversos lugares do mundo</em>, como: <em>Cataratas do
      Iguaçu</em>, <em>Taj Mahal</em> na <em>Índia</em>, <em>Paris</em>, o
    <em>castelo de Neuschwanstein</em> na <em>Alemanha</em> (de onde surgiu a inspiração para o
    <em>Castelo da Cinderella</em>), <em>Sydney</em> na <em>Austrália</em>, <em>Ilhas
      Fiji</em>, e vários outros.</p>
  <p>Nesse mesmo complexo, tem a atração <em>“Living with the Land”</em>, um passeio de barco pela
    <em>estufa da Disney</em> para conhecermos a <em>horticultura sustentável</em> e
    <em>altamente tecnológico</em>.</p>
  <p><span style="color: #ff00ff;"><em>Dica:</em></span> No complexo <em>“The Land”</em> tem o
    restaurante <em>“Garden Grill”</em> em que você come com o <em>Mickey</em>,
    <em>Pluto</em>, <em>Tico</em> e <em>Teco</em>, e esse restaurante precisa de
    <em>reserva prévia</em>. Para uma <em>comida rápida</em>, você pode comer no <em>Sunshine
      Seasons</em>.</p>
  <p><em>Nessa área também tem as seguintes atrações:</em></p>
  <ul>
    <li><em>Journey into Imagination with Figment</em> – Uma<em> jornada pela imaginação</em> com o
      dragãozinho chamado <em>Figment</em> e que vai testar<em> todos os seus sentidos</em> (não
      recomendamos, a não ser que você esteja no parque com crianças);</li>
    <li><em>Disney &amp; Pixar Short Films Festival</em> – Vários <em>curtas-metragens da
        Disney</em> e da <em>Pixar</em> (é uma boa atração pra você que gosta de curtas e se você quiser
      um tempo pra descansar).</li>
  </ul>
  <p>&nbsp;</p>
  <p>Agora, é hora da <em>volta ao mundo</em> pelo…</p>
  <h2 style="text-align: center;"><em>World Showcase</em></h2>
  <p>&nbsp;</p>
  <h3 style="text-align: center;"><em>México</em></h3>
  <ul>
    <li>Dentro da <em>Pirâmide Maia</em>, tem uma atração dos <em>“Tres Caballeros”</em>,
      <em>Donald</em>, <em>Panchito</em> e <em>José Carioca</em>, chamada <em>“Grand
        Fiesta Tour”</em>;</li>
    <li><em>Dentro da Pirâmide</em> também tem uma feirinha muito bonita e com <em>diversos
        produtos</em> ao <em>melhor estilo mexicano</em>.</li>
  </ul>
  <p><em>Onde comer:</em></p>
  <ul>
    <li><em>Choza de Margarita</em> – recomendamos comer as <em>empanadas</em> e provar a
      <em>Michelada</em> (21+) ou alguma <em>Frozen Margarita</em> (21+);</li>
    <li><em>La Cantina de San Angel</em> – recomendamos os <em>Tacos</em> ou <em>Pollo
        Cascabel</em>.</li>
  </ul>
  <p><span style="color: #800080;"><em>Personagens:</em></span></p>
  <ul>
    <li>Pato <em>Donald</em> de Sombrero.</li>
  </ul>
  <p>&nbsp;</p>
  <h3 style="text-align: center;"><em>Noruega</em></h3>
  <ul>
    <li>Tem a famosíssima atração<em> “Frozen Ever After”</em>, que se você encontrar um
      <em>FastPass+</em>, PEGUE! É um <em>passeio de barco</em> muito bonito por
      <em>Arendelle</em> e pelos <em>Fjords</em>;</li>
    <li>Existe um lugar que você pode ver <em>objetos históricos dos Vikings</em> que chama <em>“Stave
        Church Gallery”</em>.</li>
  </ul>
  <p><em>Onde comer:</em></p>
  <ul>
    <li><em>Akershus Royal Banquet Hall</em> – uma refeição que precisa ser de <em>reserva</em> e
      que você pode encontrar: <em>Ariel</em>, <em>Bela</em>, <em>Jasmine</em>,
      <em>Branca de Neve</em>, <em>Princesa Aurora</em>, <em>Mulan</em>,
      <em>Cinderella</em> e/ou <em>Mary Poppins</em>;</li>
    <li><em>Kringla Bakeri Og Kafe</em> – Uma <em>“padaria”</em> que tem uma <em>variedade de
        pães e doces</em> <em>Noruegueses</em> e que pode tomar um belo de um <em>café</em>.
    </li>
  </ul>
  <p><span style="color: #800080;"><em>Personagens:</em></span></p>
  <ul>
    <li><em>Anna</em> e <em>Elsa</em>.</li>
  </ul>
  <p>&nbsp;</p>
  <h3 style="text-align: center;"><em>China</em></h3>
  <ul>
    <li><em>Reflections of China</em> – uma atração com uma <em>jornada pela China antiga e
        moderna</em> enquanto você assiste a um filme de <em>14 minutos</em> com uma <em>tela 360
        graus</em>;</li>
    <li>Na <em>House of Whispering Willows</em>, você pode conferir como está a <em>Disney de
        Shanghai</em>, como: algumas costumes, atrações, um mapa do parque, restaurantes…</li>
    <li>Tem uma <em>apresentação de acrobatas</em> na entrada do <em>Pavilhão</em>.</li>
  </ul>
  <p><em>Onde comer:</em></p>
  <ul>
    <li><em>Lotus Blossom Café</em> – um <em>quick service</em> que recomendamos que você coma o
      <em>Orange Chicken</em> que é surreal de tão gostoso;</li>
    <li><em>Joy of Tea</em> – vale a pena experimentar uns<em> chás</em> e umas <em>bebidas
        diferentes</em>.</li>
  </ul>
  <p><span style="color: #800080;"><em>Personagens:</em></span></p>
  <ul>
    <li><em>Mulan</em></li>
  </ul>
  <p>&nbsp;</p>
  <h3 style="text-align: center;"><em>Alemanha</em></h3>
  <ul>
    <li>As <em>lojas</em> desse pavilhão são <em>incríveis</em>! Principalmente a
      <em>Karamell-Kuche</em>, onde você compra as <em>melhores pipocas da Disney</em>;</li>
    <li>Tem uma<em> loja de Natal</em> também que você pode garantir aquela decoração
      <em>diferentona</em> pra sua <em>festa de fim de ano</em> (rs)</li>
  </ul>
  <p><em>Onde comer:</em></p>
  <ul>
    <li><em>Biergarten Restaurant</em> – um r<em>estaurante que precisa de reserva</em> mas com a
      <em>melhor comida Alemã</em>, como as <em>salsichas</em>, <em>schnitzel</em> e
      <em>sauerkraut</em>;</li>
    <li>Tem uma barraquinha escrito <em>Bier</em> que vende a cerveja <em>Schöfferhofer Pink Grapefruit
        Hefeweizen</em> (21+) que vale a pena experimentar.</li>
  </ul>
  <p><span style="color: #800080;"><em>Personagens:</em></span></p>
  <ul>
    <li><em>Branca de Neve</em></li>
  </ul>
  <p>&nbsp;</p>
  <h3 style="text-align: center;"><em>Itália</em></h3>
  <ul>
    <li>Você pode se divertir vendo uma <em>apresentação de um mímico</em> na velha praça
      <em>italiana</em>.</li>
  </ul>
  <p><em>Onde comer:</em></p>
  <ul>
    <li><em>Tutto Italia Ristorante</em> – <em>pratos italianos autênticos</em>, conhecidos e muito
      bem feitos; e a<em> massa é caseira</em>;</li>
    <li><em>Gelato</em> – um lugar pra <em>tomar gelato</em>, quer mais? rs</li>
  </ul>
  <p>&nbsp;</p>
  <h3 style="text-align: center;"><em>EUA (American Adventure)</em></h3>
  <ul>
    <li>Tem uma atração chamada <em>“The American Adventure”</em> em que você embarca em uma <em>jornada
        com animatrônicos</em>, muito<em> filme</em> e <em>música</em> que te levam pra conhecer
      o passado da<em> América</em>;</li>
    <li>Nesse pavilhão tem o<em> “America Garden Theatre”</em>, onde tem <em>diversos shows</em> e
      <em>apresentações</em> que você pode assistir (confira a <em>programação no site da
        Disney</em>).</li>
  </ul>
  <p><em>Onde comer:</em></p>
  <ul>
    <li><em>Fife &amp; Drum Tavern</em> – O melhor lugar pra você comer <em>Jumbo Turkey Leg</em>;
    </li>
    <li><em>Funnel Cake</em> – Um lugar pra você comer a sua sobremesa, <em>o famoso Funnel
        Cake</em>.</li>
  </ul>
  <p>&nbsp;</p>
  <h3 style="text-align: center;"><em>Japão</em></h3>
  <ul>
    <li>Você tem a chance de assistir a uma apresentação de <em>Taiko</em> – com aqueles <em>tambores
        enormes</em>;</li>
    <li>Entre para passear na <em>loja Mitsukoshi</em>, que tem diversos produtos de <em>origem
        japonesa</em>, como <em>Pokémon</em> e <em>Dragon Ball</em>; bem como produtos de
      <em>games</em>, como <em>Zelda</em>; e uma <em>diversidade muito grande de
        comidinhas</em> e <em>outros produtos</em> que valem a pena conhecer.</li>
  </ul>
  <p><em>Onde comer:</em></p>
  <ul>
    <li><em>Katsura Grill</em> – um restaurante <em>quick service</em>;</li>
    <li><em>Teppan Edo</em> – restaurante que precisa de reserva, em que o <em>chef</em> cozinha na
      chapa na sua frente, <em>no meio da mesa</em>! É uma <em>experiência muito divertida</em>;
    </li>
    <li>Tem uma barraquinha, perto do <em>Katsura Grill</em>, que vende o <em>Violet Sake</em>
      (21+).</li>
  </ul>
  <p>&nbsp;</p>
  <h3 style="text-align: center;"><em>Marrocos</em></h3>
  <ul>
    <li>O <em>pavilhão</em> em si é uma <em>atração a parte</em>, muito bem tematizado e decorado.
    </li>
  </ul>
  <p><em>Onde comer:</em></p>
  <ul>
    <li><em>Restaurant Marrakesh</em> – um restaurante que precisa de reserva, mas que você come uma comida
      árabe muito boa, como: <em>Kebabs</em>, <em>Chicken Bastilla</em>, <em>Tangine</em>…
      além de ver uma apresentação de <em>dança do ventre</em>;</li>
    <li><em>Tangierine Café</em> – um quick service pra você comer um Shawarma delicioso!</li>
  </ul>
  <p><span style="color: #800080;"><em>Personagens:</em></span></p>
  <ul>
    <li>Princesa <em>Jasmine</em></li>
  </ul>
  <p>&nbsp;</p>
  <h3 style="text-align: center;"><em>França</em></h3>
  <ul>
    <li>“Conhecer” o <em>charme</em> e o <em>romance da França</em>, para você se apaixonar pelo
      país mais encantador da <em>Europa</em> no filme da atração <a href="#"><em>“Impressions
          de France”</em></a>;</li>
  </ul>
  <p><em>Onde comer:</em></p>
  <ul>
    <li><em>Chefs de France</em> – um restaurante que precisa de reservas, porém se você gosta da
      <em>autêntica comida francesa</em>, esse é o lugar mais recomendado;</li>
    <li><em>L’Artisan des Glace</em> – <em>sorvete artesanal francês</em> com uma variedade enorme
      de sabores de sorvetes e sorbets, como: <em>Sorvete de Chocolate com Laranja</em>, <em>Sorvete de
        Caramelo com Sal</em>, <em>Sorbet de Limão</em>, <em>Sorbet de Morango</em>…</li>
    <li><em>Les Halles Boulangerie-Patisserie</em> – uma <em>padaria francesa</em> que você pode
      comer os <em>melhores pães</em>, <em>croissants</em>, <em>sopas</em>,
      <em>saladas</em> e <em>café gourmet</em>. Coma um <em>quiche</em>, uma
      <em>tartine</em>, um <em>brie aux pommes</em>, um <em>parfait</em> ou um <em>pain
        au chocolate</em>.</li>
  </ul>
  <p><span style="color: #800080;"><em>Personagens:</em></span></p>
  <ul>
    <li><em>Bela</em></li>
    <li><em>Aurora</em></li>
  </ul>
  <p>&nbsp;</p>
  <h3 style="text-align: center;"><em>International Gateway</em></h3>
  <p>A área entre a <em>França</em> e o <em>Reino Unido</em>, tem uma loja (que vale a pena dar uma
    conferida), tem uma loja de <em>aluguel de carrinhos e cadeiras de rodas</em> e um <em>kiosk de <a
        href="#">FastPass+</a></em>.
  </p>
  <p>Além disso, essa é a saída do parque para a área do <em>Boardwalk</em> e dos hotéis <a href="#"><em>Yacht
        and Beach Club</em></a>.</p>
  <p>&nbsp;</p>
  <h3 style="text-align: center;"><em>Reino Unido</em></h3>
  <ul>
    <li><em>Dentro do Pavilhão</em> tem um coreto que sempre tem algumas apresentações de <em>música ao
        vivo</em>;</li>
    <li>Se você gosta de <em>chá</em>, tem uma loja que chama <em>“The Tea Caddy”</em> que tem
      vários <em>sabores diferentes de chá</em>.</li>
  </ul>
  <p><em>Onde comer:</em></p>
  <ul>
    <li><em>Yorkshire County Fish Shop</em> – sabe aquele prato clássico <em>Fish and Chips</em>
      (peixe com batatas)? Então, <em>é aqui que você vai comer</em>;</li>
    <li><em>Rose &amp; Crown Pub &amp; Dining Room</em> – se você for no <em>Pub</em>, é só entrar;
      se você quiser fazer alguma <em>refeição</em>, você precisa <em>fazer uma reserva</em>… mas
      vale a pena, pois você pode provar a <em>Shepherd’s Pie</em> ou um <em>Scottish Salmon</em>,
      além de sobremesas como <em>Scone</em> ou <em>Chocolate Nougar Bar</em>.</li>
  </ul>
  <p><span style="color: #800080;"><em>Personagens:</em></span></p>
  <ul>
    <li><em>Alice</em></li>
    <li><em>Mary Poppins</em></li>
  </ul>
  <p>&nbsp;</p>
  <h3 style="text-align: center;"><em>Canadá</em></h3>
  <ul>
    <li>Tem um <em>palco</em> na entrada do <em>Canadá</em> que sempre tem algum<em>
        show</em>, e as vezes tem alguns típicos Canadenses;</li>
    <li>Tem uma <em>atração</em> chamada <a href="#"><em>“O
          Canada!”</em></a> que você conhece um pouco do país em um filme <em>360 graus</em>.</li>
  </ul>
  <p><em>Onde comer:</em></p>
  <ul>
    <li><em>Le Cellier Steakhouse</em> – um restaurante com <em>muita comida tradicional
        canadense</em> e que <em>precisa de reserva</em>;</li>
    <li><em>Popcorns in Canada</em> – só aqui você vai encontrar a <em>pipoca</em> coberta com
      <em>Maple</em>, aquele xarope que é comum <em>quando você come panquecas</em>… pra acompanhar
      o <a href="#"><em>Illuminations</em></a>,
      fica melhor ainda.</li>
  </ul>
  <p>&nbsp;</p>
  <h3 style="text-align: center;"><a href="#"><em>ILLUMINATIONS</em></a>
  </h3>
  <p>O <em>show de encerramento do parque</em> que envolve as <em>11 nações</em>, a <em>história
      do mundo</em> e <em>muitos fogos</em>, pode ser <em>visto de qualquer lugar ao redor do lago
      do World Showcase</em>… MAS, recomendamos que você assista do <em>pavilhão do Canadá</em>,
    <em>Alemanha</em> ou <em>Itália</em>.</p>
  <p><em>Não esqueça de conferir o mapa com os horários para poder se programar</em> com as apresentações
    pelo parque e para <em>não perder o show noturno</em>.</p>
  <p>&nbsp;</p>
  <h3><em>5 pontos para tirar fotos</em></h3>
  <ol>
    <li>Logo na entrada, <em>de frente pra bola</em> (<em>Spaceship Earth</em>);</li>
    <li>Em frente ao <em>foguete do Mission: SPACE</em>;</li>
    <li>Na fonte interna do <em>Pavilhão do Marrocos</em>;</li>
    <li>No arco de Miyajima, no <em>Pavilhão do Japão</em>, com a bola centralizada no arco;</li>
    <li>Na ponte em cima do canal, no <em>Pavilhão da Itália</em>;</li>
    <li>(Bônus) Entre o <em>World Showcase e o Future World</em>, para tirar uma foto do <em>monorail
        com a Bola</em>.</li>
  </ol>
  <p>&nbsp;</p>
</div>