<h2 class="m-5 text-center text-info">Nossos Depoimentos</h2>
<hr>
<div class="bubble mb-5">
  <blockquote class="mx-5">O site me ajudou no planejamento da viagem, bem como no acompanhamento das informações
    utéis durante a minha estadia.
    Decidi fazer minha viagem pra Orlando (#focada #decidida)! Aí quando você vê aquela
    lista de documentos, os
    exames, a ansiedade do visto, a saudade antecipada de estar longe daqueles que a gente mais ama, bate uma
    p** dúvida. Hoje, quase dois meses depois não tenho mais dúvida, tenho várias, mas também tenho a
    certeza que ter vindo foi
    a decisão certa.
  </blockquote>
  <div class="bubble-div"></div>
  <div class="row mx-5">
    <div class="column col-9 d-flex justify-content-left text-left">
      <img src="../../../assets/depoimentos/bruna.jpg" class="imagem" />
    </div>
    <div class="column col-9 d-flex justify-content-left text-left">
      <cite class="text-center">Bruna Oliveira Carlos Amorim</cite>
    </div>
  </div>
</div>
<div class="bubble">
  <blockquote class="mx-5"> A Disney é muito divertida e legal. Adorei a montanha russa do cachorrinho, da branca de neve.
    Fiquei
    com medo do elevador no Hollywood Studios. Fiquei emocionada com os fogos de artifícios e ganhei muitos doces no
    Halloween.
  </blockquote>
  <div class="bubble-div"></div>
  <div class="row mx-5">
    <div class="column col-9 d-flex justify-content-left text-left">
      <img src="../../../assets/depoimentos/bella.jpg" class="imagem" /><br>
    </div>
    <div class="column col-9 d-flex justify-content-left text-left">
      <cite class="text-center"> Isabella Amorim</cite>
    </div>
  </div>
</div>