<div id="carouselExampleIndicators" class="carousel slide m-5" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a [routerLink]="['/roteiro-magic-kingdom']" >
        <img class="d-block w-100" src="../../assets/magic-kingdom-castelo.jpg" alt="Castelo Magic Kingdom" 
          style="filter: brightness(85%);"/>
        <div class="carousel-caption d-none d-md-block">
          <h3>Roteiro - Magic Kingdom</h3>
          <p>PARQUES</p>
        </div>
      </a>
    </div>
    <div class="carousel-item">
      <a [routerLink]="['/roteiro-animal-kingdom']" >
        <img class="d-block w-100" src="../../assets/animal-kingdom-arvore.jpg" alt="Castelo Magic Kingdom" />
        <div class="carousel-caption d-none d-md-block">
          <h3>Roteiro - Animal Kingdom</h3>
          <p>PARQUES</p>
        </div>
      </a>
    </div>
    <div class="carousel-item">
      <a [routerLink]="['/roteiro-epcot']" >
        <img class="d-block w-100" src="../../assets/epcot-paisagem.jpg" alt="Castelo Magic Kingdom" />
        <div class="carousel-caption d-none d-md-block">
          <h3>Roteiro - Epcot</h3>
          <p>PARQUES</p>
        </div>
      </a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>