<div class="modal-header">
  <h5 class="modal-title" id="lotacaoLabel">Lotação dos Parques</h5>
  <button type="button" class="close" (click)="ocultar()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ul class="list-group">
    <li class="list-group-item list-group-item-danger">Magic Kingdom - Lotação Máxima Atingida</li>
    <li class="list-group-item list-group-item-danger">Hollywood Studios - Lotação Máxima Atingida</li>
    <li class="list-group-item list-group-item-warning">Animal Kingdom - Lotação Alta</li>
    <li class="list-group-item list-group-item-info">Epcot - Lotação Média</li>
    <li class="list-group-item list-group-item-danger">Universal Studios - Lotação Máxima Atingida</li>
    <li class="list-group-item list-group-item-warning">Island Adventure - Lotação Alta</li>
    <li class="list-group-item list-group-item-success">Sea World - Lotação Baixa</li>
  </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="ocultar()">Fechar</button>
</div>