<div class="mt-5 text-center text-success">
  <h1 class="post-title">Roteiro do Animal Kingdom</h1>
  <div class="post-date">04/12/2018</div>
</div>

<div class="m-5">
  <img class="img-fluid" src="../../assets/roteiro/ak-roteiro.jpg" />
</div>
<div class="m-5 text-justify">
  <p>O&nbsp;<em>Disney’s Animal Kingdom</em>&nbsp;é o quarto de quatro parques temáticos construídos
    no&nbsp;<em>Walt Disney World Resort</em>&nbsp;em&nbsp;<em>Orlando</em>, Flórida, e foi
    inaugurado no&nbsp;<em>Dia da Terra</em>,&nbsp;<em>22 de abril de 1998</em>. É
    o&nbsp;<em>segundo maior parque temático do mundo</em>, atrás, somente, do Six Flags Great Adventure em
    Jackson, Nova Jersey, e é o&nbsp;<em>maior parque temático da Disney no mundo</em>, cobrindo cerca
    de&nbsp;<em>200 hectares</em>, e também o primeiro parque temático da Disney a ter como tema
    a&nbsp;<em>conservação animal</em>, uma filosofia seguida pelo próprio&nbsp;<em>Walt
      Disney</em>.</p>
  <p>O&nbsp;<em>Disney’s Animal Kingdom</em>&nbsp;é credenciado pela&nbsp;<em>Associação de Zoológicos e
      Aquários e pela Associação Mundial de Zoológicos e Aquários</em>, o que significa que ele cumpriu ou
    excedeu os padrões de educação, conservação e pesquisa.</p>
  <p>Em&nbsp;<em>2014</em>, o parque atraiu&nbsp;<em>aproximadamente 10,4 milhões de
      visitantes</em>, sendo&nbsp;<em>o quarto parque mais visitado dos Estados Unidos</em>&nbsp;e o
    sétimo do mundo.</p>
  <p>O parque é dividido em 6 áreas:&nbsp;<em>Oasis</em>&nbsp;(logo na entrada do
    parque),&nbsp;<em>Discovery Island&nbsp;</em>(a área ao redor da Árvore da Vida),&nbsp;<em>DinoLand
      U.S.A.</em>,&nbsp;<em>Asia</em>,&nbsp;<em>África</em>&nbsp;e&nbsp;<em>Pandora – World
      of Avatar&nbsp;</em>(inaugurada em 2017).</p>
  <p><span style="color: #33cccc;"><em>CURIOSIDADE:&nbsp;</em></span>você não vai encontrar nenhum
    restaurante que forneça&nbsp;<em>tampinha de plástico</em>&nbsp;para o copo e nem&nbsp;<em>canudinho
      plástico</em>, tudo para evitar que os animais do parque não acabem comendo por engano e engasguem.</p>
  <p>&nbsp;</p>
</div>
<div class="m-5 text-justify">
  <h3><em>Quais <a href="#">Fastpass+</a>
      indicamos?</em></h3>
  <p>Primeiramente, se você encontrar algum do&nbsp;<em>“Flight of Passage”</em>, PEGUE! Essa é a melhor
    atração do complexo e a&nbsp;<em>mais concorrida</em>&nbsp;do AK e, consequentemente, a que tem a maior
    fila.</p>
  <p>As demais atrações que valem a pena você procurar um&nbsp;<a href="#"><em>FastPass+</em>&nbsp;</a>(vamos
    apelidar de FP+) são:&nbsp;<em>Na’vi River Journey</em>&nbsp;(passeio de barco em
    Pandora),&nbsp;<em>Expedition Everest – Legend of the Forbidden Mountai</em>&nbsp;(montanha russa pelo
    Himalaia),&nbsp;<em>DINOSAUR</em>&nbsp;(viagem no tempo para salvar e fugir dos dinossauros)
    e&nbsp;<em>Kilimanjaro Safari</em>&nbsp;(passeio pela Savana Africana)</p>
  <p><span style="color: #ff00ff;"><em>DICA:</em></span>&nbsp;tente marcar os seus 3 <a href="#">FP+</a> o
    mais cedo possível porque, depois que você usar os 3, você pode ir marcando um por vez, o que faz você
    aproveitar MUITO MAIS o parque.</p>
  <p>&nbsp;</p>
  <h3><em>Do mais…</em></h3>
  <ul>
    <li><em>Chegue cedo</em>, antes da abertura do parque, principalmente para você poder <em>aproveitar
        direito o parque</em>;</li>
    <li>Se você não conseguir um <em><a href="#">FastPass+</a></em>
      para as atrações de Pandora, não se desespere. <em>Você tem três opções:</em>
      <ul>
        <li>Chegue ao parque <em>antes da abertura e vá direto para a área de Pandora</em> e aproveite a
          área na parte da manhã;</li>
        <li><em>Vá na atração entre 14h e 15h</em> que é o horário que, geralmente, a fila da atração
          <em>Flight of Passage</em> está menor;</li>
        <li>Entre no sistema do <em>My Disney Experience</em> <em>a partir de 13h30</em> que existem
          chances de você conseguir pegar um FastPass+ pro mesmo dia;</li>
      </ul>
    </li>
    <li>O parque é rodeado por <em>vegetação</em> e a noite a <em>iluminação do parque é muito
        baixa</em>, o que o torna <em>mais fácil de se perder</em>;</li>
    <li>Pegue um <em>Time’s Guide</em> para não perder nenhum show, muito menos o <em>Festival of the
        Lion King</em> e o <em>Rivers of Light</em>.</li>
    <li>Fique atento as <em><a href="#">alturas
          das atrações</a></em>;</li>
  </ul>
  <p>&nbsp;</p>
  <h2 style="text-align: center;"><em>E o roteiro do Animal Kingdom…</em></h2>
  <p>Entrando no parque, atravessando o <em>Oasis</em>, você fica de frente para a <em>Árvore da
      Vida</em>. Ali você vira a esquerda e ao lado do <em>Pizzafari</em> você entra a esquerda de novo
    para chegar em…</p>
  <p>&nbsp;</p>
  <h3 style="text-align: center;"><em>PANDORA – THE WORLD OF AVATAR</em></h3>
  <p>Logo na entrada, você vê uma raiz enorme que chama&nbsp;<em>Flaska Reclinata</em>. Tem um canto dessa
    raiz que quando você bate, ela solta fumaça.</p>
  <p><span style="color: #ff00ff;"><em>DICA:</em></span>&nbsp;na ponte a caminho
    de&nbsp;<em>Pandora</em>&nbsp;existe um restaurante chamado&nbsp;<em>Tiffins</em>&nbsp;que vale
    a pena uma reserva, caso você queira comer em um lugar mais fancy.</p>
  <p>Primeira coisa que você tem que fazer nessa área:&nbsp;<em>aprecie a paisagem, os cheiros, as montanhas
      flutuantes, os lagos, os sons…</em>&nbsp;curta o ambiente a sua volta e veja o quão incrível é essa land.
  </p>
  <p>Vá para o&nbsp;<em>Flight of Passage</em>. Independente da fila, aprecie os detalhes: os sons, a
    vegetação e os cheiros e, conforme você for caminhando para dentro do prédio, veja os detalhes e desenhos nas
    paredes, uma área que você pode ler um pouco sobre a flora de Pandora, o laboratório com as criaturas diferentes
    (e recriadas de forma muito interessante) e o&nbsp;<em>Avatar</em>&nbsp;ENORME no tubo. Continue para o
    hangar e para a sala de teste. Você vai sair&nbsp;<em>ENCANTADO</em>&nbsp;dessa atração.</p>
  <p>Saindo de lá, vá para o&nbsp;<em>Na’vi River Journey</em>, uma outra atração que tem uma ambientação
    incrível e de tirar o fôlego. Aqui você presencia toda a vida selvagem da lua de Pandora, além de ter a
    oportunidade de ver de perto um&nbsp;<em>Avatar</em>. Na saída da atração, aproveite para passear pela
    Windtraders, a lojinha especializada em artefatos de&nbsp;<em>Pandora</em>.</p>
  <p><span style="color: #ff00ff;"><em>DICA:</em>&nbsp;</span>nessa área você tem as comidas mais diferentes
    de todo o parque. No quiosque&nbsp;<em>Pongu Pongu</em>, prove o&nbsp;<em>Pongu
      Lumpia</em>&nbsp;(um rolinha primavera com creme de abacaxi no meio) acompanhado de um&nbsp;<em>Night
      Blossom</em>&nbsp;(aquela bebida frozen de maçã e limonada que tem umas bolinhas de maracujá).</p>
  <p><span style="color: #ff00ff;"><em>DICA 2:</em>&nbsp;</span>Se você for vegetariano ou vegano, esse
    restaurante atende você 100%. Se você quiser uma refeição diferenciada, aproveite para comer
    no&nbsp;<em>Satu’li Canteen</em>, onde você encontra opções mais saudáveis e diferentes da comida usual
    dos parques. Não deixe de provar o&nbsp;<em>Blueberry Cream Cheese Mousse</em>&nbsp;(um mousse de creme
    de blueberry com uma cobertura de maracujá)… você nunca mais vai querer comer outro doce.</p>
  <p>&nbsp;</p>
  <p style="text-align: center;">Ao lado do&nbsp;<em>Satu’li Canteen</em>&nbsp;tem uma saída… se você seguir
    por aquele caminho, você chega na…</p>
  <h3 style="text-align: center;"><em>ÁFRICA</em></h3>
  <p>Você já vai chegar na África de cara com o melhor show do parque:&nbsp;<em>Festival of the Lion
      King</em>!</p>
  <p>Como você pegou o&nbsp;<em>Time’s Guide</em>&nbsp;na entrada do parque, você vai ver que o show
    acontece diversas vezes ao dia, mas esse é o melhor momento para assistir. Curta como se não houvesse amanhã
    pois essa apresentação é sensacional e conta com todas as músicas originais de&nbsp;<em>O Rei Leão</em>.
  </p>
  <p>Na parte do&nbsp;<em>Harambe</em>, você pode conferir muitas apresentações ao vivo, como
    a&nbsp;<em>Burudika&nbsp;</em>e o&nbsp;<em>Tam Tam Drummers of Harambe</em>.</p>
  <p><span style="color: #ff00ff;"><em>DICA:</em></span>&nbsp;Se você quer um restaurante bom para
    tomar&nbsp;<em>café da manhã</em>&nbsp;(com reserva e com personagens) você pode ficar com
    o&nbsp;<em>Tusker House</em>, que fica nessa área da&nbsp;<em>África</em>. O buffet desse
    restaurante é delicioso e você come a vontade com
    o&nbsp;<em>Mickey</em>,<em>&nbsp;Pluto</em>,&nbsp;<em>Donald</em>,&nbsp;<em>Minnie</em>&nbsp;e&nbsp;<em>Pateta</em>.
  </p>
  <p>Nessa área também tem uma outra atração para a família e que as crianças vão se divertir
    muito:&nbsp;<em>KILIMANJARO SAFARI</em>. Um passeio pela&nbsp;<em>Savana Africana</em>&nbsp;com
    direito a muitos animais e uma aula sobre tudo o que você vê pelo caminho.</p>
  <p><span style="color: #ff00ff;"><em>DICA:</em></span>&nbsp;Faça o&nbsp;<em>Safari</em>&nbsp;duas
    vezes –&nbsp;<em>uma de dia e uma a noite</em>! Ver os animais no habitat natural no período diurno e
    como eles agem durante a noite, são duas experiências totalmente diferentes.</p>
  <p><span style="color: #ff00ff;"><em>DICA 2:</em>&nbsp;</span>Se a fome bater, aproveite para comer
    no&nbsp;<em>Harambe Market</em>! Tem pratos com todos tipos de carnes e prato vegetariano.</p>
  <p>&nbsp;</p>
  <p style="text-align: center;">Viajando mais um pouco, você chega na…</p>
  <h2 style="text-align: center;"><em>ÁSIA</em></h2>
  <p>Logo de cara você já encontra uma atração renovada:<em>&nbsp;“UP! A Great Bird Adventure”</em>. É o
    mesmo lugar onde, antigamente, ficava o&nbsp;<em>Flight of Wonders</em>, porém agora com a participação
    dos personagens da animação&nbsp;<em>UP!</em>.</p>
  <p><span style="color: #ff00ff;"><em>DICA:</em></span>&nbsp;Se você gosta de comida asiática, super
    indicamos o restaurante Yak &amp; Yeti Restaurant (você pode ir direto nele pra saber se tem vaga, mas você tem
    a opção de agendar pelo site ou aplicativo).</p>
  <p>Nessa área você tem&nbsp;<em>3 atrações</em>&nbsp;pra visitar:</p>
  <ul>
    <li><em>Maharajah Jungle Trek:</em>&nbsp;onde você faz um tour pelo&nbsp;<em>Sudeste
        Asiático</em>&nbsp;– lar de tigres, dezenas de espécies de pássaros, a raposa voadora e o dragão de
      Komodo.</li>
    <li><em>Kali River Rapids:</em>&nbsp;o famoso rio bravo, porém pelo&nbsp;<em>coração da
        Ásia</em>. Pra você se molhar e se refrescar durante o seu dia de parque.</li>
    <li><em>Expedition Everest – Legend of the Forbidden Mountain:</em>&nbsp;a sua melhor aventura nos
      trilhos (montanha-russa) pelo Himalaia… enquanto você evita o encontro com o famoso&nbsp;<em>Pé
        Grande</em>.</li>
  </ul>
  <p><span style="color: #33cccc;"><em>OBSERVAÇÃO:</em></span>&nbsp;se você tem um&nbsp;<a
      href="#"><em>FastPass+</em></a>&nbsp;para
    o show&nbsp;<em>Rivers of Light</em>, a sua entrada será em frente a entrada da atração Expedition
    Everest.</p>
  <p>&nbsp;</p>
  <p style="text-align: center;">Seguindo o caminho, você chega na…</p>
  <h3 style="text-align: center;"><em>DINOLAND U.S.A.</em></h3>
  <p>Primeiramente, se você não tem&nbsp;<em>FastPass+&nbsp;</em>para o show&nbsp;<em>Rivers of
      Light</em>, sua entrada será no fim da ponte, a direita.</p>
  <p>E logo de cara, você encontra uma atração do&nbsp;<em>Nemo – Finding Nemo: The Musical</em>. Um show
    LINDO, cheio de música e efeitos especiais que te levam a acreditar que você está REALMENTE no fundo do mar com
    Nemo, Marlin, Dory e todos os amiguinhos peixes.</p>
  <p>Entrando mais a fundo na&nbsp;<em>DinoLand</em>, você encontra uma montanha-russa pequena (porém, não
    subestime) que se chama&nbsp;<em>Primeval Whril</em>… é uma atração forte, sem loopings nem inversões.
  </p>
  <p>Um pouco mais pro lado, você encontra a&nbsp;<em>DINOSAUR</em>. Um passeio de jipe para o passado… para
    a pré-história… e seu objetivo é salvar os dinossauros da extinção ao mesmo tempo que você foge de um enorme.
  </p>
  <p><span style="color: #33cccc;"><em>OBSERVAÇÃO:</em>&nbsp;</span>não recomendamos para crianças por conta
    do barulho alto e do escuro.</p>
  <p><span style="color: #ff00ff;"><em>DICA:</em>&nbsp;</span>Um bom lugar pra comer e que tem variedade de
    comida é o&nbsp;<em>Restaurantossaurus&nbsp;</em>e, se você achar melhor, pode usar o
    app&nbsp;<em>My Disney Experience</em>&nbsp;para pedir comida pelo&nbsp;<em>Mobile
      Order</em>&nbsp;e, quando chegar lá, só retirar.</p>
  <p>Nessa área você pode encontrar os <span style="color: #800080;"><em>personagens</em></span>:
    <em>Margarida/Daisy Duck</em>; <em>Pato Donald</em>; <em>Pateta/Goofy</em>;
    <em>Pluto</em>; <em>Tio Patinhas/Scrooge McDuck</em>; e <em>Launchpad McQuack</em>.</p>
  <p>&nbsp;</p>
  <p style="text-align: center;">E terminando o círculo…</p>
  <h3 style="text-align: center;"><em>DISCOVERY ISLAND</em></h3>
  <p>É aqui que você encontra a famosa atração do filme&nbsp;<em>Vida de Inseto</em>,
    chamada&nbsp;<em>It’s Tough to be a Bug</em>. Uma atração 4D que vai te encolher do tamanho de um inseto
    e que vai <em>te fazer se divertir MUITO</em>!</p>
  <p><em>DICA:</em>&nbsp;Na área em frente a Árvore é onde você assiste o show de despertar
    da&nbsp;<em>Árvore da Vida</em>&nbsp;– que começa ao anoitecer e continua até o fechamento do parque.
  </p>
  <p>Se você quiser comer, recomendamos o&nbsp;<em>Pizzafari&nbsp;</em>ou o&nbsp;<em>Flame Tree
      Barbecue,</em>&nbsp;dois restaurantes Quick Service.</p>
  <p>Aqui, também, é onde você encontra os <span style="color: #800080;"><em>personagens</em></span> do
    parque:</p>
  <ul>
    <li><em>Pocahontas:</em>&nbsp;assim que você atravessar a ponte
      da&nbsp;<em>DinoLand</em>&nbsp;para a&nbsp;<em>Discovery Island</em>, a esquerda você vê um
      caminhozinho que, indo até o final, você encontra a filha do Pagé.</li>
    <li><em>Mickey e Minnie:</em>&nbsp;Depois de atravessar a ponte, segue a direita até a
      placa&nbsp;<em>Adventurers Outpost</em>… é ali que você encontra o casal de ratinhos mais famoso do
      mundo.</li>
    <li><em>Doug e Russell:</em>&nbsp;Depois de atravessar a ponte, se você andar reto um pouco, você
      encontra o&nbsp;<em>Wilderness Explorer Club House</em>, é ali.</li>
  </ul>
  <p>Agora que acabou…&nbsp;<em>volte para Pandora</em>&nbsp;e curta a noite e as luzes.</p>
  <p>&nbsp;</p>
  <h3><em>5 pontos para tirar fotos no AK:</em></h3>
  <ol>
    <li>Logo na entrada, na frente da&nbsp;<em>Árvore da Vida</em>;</li>
    <li>Na frente das montanhas flutuantes de&nbsp;<em>Pandora</em>;</li>
    <li>Na frente da atração&nbsp;<em>“UP! A Great Bird Adventure”</em>&nbsp;de frente
      para&nbsp;<em>Árvore da Vida</em>;</li>
    <li>Ponte entre&nbsp;<em>Ásia</em>&nbsp;e&nbsp;<em>DinoLand U.S.A.</em>;</li>
    <li>Na parede que tem uma bicicleta no&nbsp;<em>Harambe</em>&nbsp;(<em>África</em>).</li>
  </ol>
  <p>&nbsp;</p>
</div>